.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 28);
  color: white;
  height: 80px;
  position: relative;

  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 20px;
    }

    .left {
      display: flex;
      gap: 10px;
      align-items: center;

      a {
        color: white;
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    .center {
      letter-spacing: 5px;
      font-weight: 700;
      font-size: 30px;

      a {
        color: inherit;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;

      .search-icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cart-icon {
        cursor: pointer;
        position: relative;
        font-size: 23px;
        // background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;

        .num {
          position: absolute;
          right: -15px;
          top: -15px;
          color: white;
          background-color: rebeccapurple;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          padding: 2px;
          font-size: 11px;
        }
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &.sticky {
    position: sticky;
    top: 0;
    animation: stickyHeader 0.3s ease;
    // backwards
    // transition: all 1s ease;
  }

  .cart {
    position: absolute;
    top: 0;
    left: 0;

    .backdrop {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
    }
    .cartContents {
      padding: 10px;
      z-index: 10;
      width: 400px;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      background-color: white;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .wrapperx {
        .cartHeader {
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          padding-bottom: 10px;

          h3 {
            margin: 0;
          }
          svg {
            cursor: pointer;
          }
        }

        .cartItems {
          .noProduct {
            margin-top: 55px;
            text-align: center;

            svg {
              color: rgba(0, 0, 0, 0.3);
            }
            button {
              padding: 10px 20px;
              border: none;
              background-color: rebeccapurple;
              color: white;
            }
          }
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            .item {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 5px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);

              .image {
                flex: 1;
                img {
                  width: 80%;
                }
              }
              .details {
                flex: 3;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .title {
                  font-size: 1.25rem;
                  font-weight: 700;
                }
                .qty {
                  height: 30px;
                  display: flex;

                  button,
                  div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
                .qty-total {
                  display: flex;
                  gap: 5px;
                  .price {
                    color: rebeccapurple;
                    background-color: yellow;
                    font-weight: 700;
                  }
                }
              }
              .remove {
                cursor: pointer;
              }
            }
          }
        }
      }

      .cartFooter {
        padding: 20px;
        display: flex;
        flex-direction: column;

        .sub-total {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          margin-bottom: 10px;
        }
        button,
        a {
          // width: 100%;
          text-align: center;
          padding: 10px;
          border: none;
          background-color: rebeccapurple;
          color: white;
          font-weight: 700;
        }
      }
    }
  }

  .search {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    transform: translateY(100%);
    animation: sliceSearchWindow 0.5s ease forwards;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;

    .search-form {
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: burlywood;
      padding: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      input {
        height: 80px;
        font-size: 48px;
        font-weight: 700;
        border: none;
        text-align: center;
        outline: none;
        width: 100%;

        // &::placeholder {
        //   color: #212121;
        // }
      }
      .close-btn {
        font-size: 48px;
        cursor: pointer;
      }
    }

    .search-result {
      overflow: auto;
      display: flex;
      justify-content: center;

      .filterProducts {
        width: 80%;
        display: flex;
        flex-direction: column;

        .filterProduct {
          width: 50%;
          background-color: white;
          color: black;
          // padding: 10px;
          border-bottom: 1px solid rgba(192, 192, 192, 0.5);
          display: flex;

          .link {
            display: flex;
            color: inherit;

            .image {
              flex: 1;

              img {
                width: 60%;
                object-fit: cover;
              }
            }
            .details {
              flex: 5;
              display: flex;
              flex-direction: column;
              justify-content: center;
              h3 {
                margin: 0;
              }
              p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes sliceSearchWindow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
